---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}/">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                
				
        
         <!-- Our Team -->
        <section class="container">         
        <p id="team" class="col-sm-12 text-center">Our Team</p>
        </section>
        
        <!-- Managers -->
        <section class="container">
        <p id="manager" class="col-sm-12 text-center" >Managers</p>
        </section>
        
        <!-- Manager List -->
        
        <section class="container">
        <div class="col-sm-2"></div>
        
                <!-- Manager 1 -->
        <div class="col-sm-4 manager">
        <a class="mybox" href="https://www.facebook.com/nilaksh.aggarwal?fref=ts"><img src="assests/img/images.jpg" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>Nilaksh Kumar Aggarwal</p>
        </div>
        </div>
                <!-- /Manager 1 -->
                
                 
        <div class="col-sm-3"></div>
        
      
        <!-- /Manager List -->
				
				
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
